<div id="overlay"> </div>
<div id="modal_window">
		<div id="modal_heading"><h2>Log In</h2></div>
		<div id="modal_content">
			<%= link_to "Sign in with Facebook", "/auth/facebook" %>
		</div>
		<div id="modal_footer">
			<button class="modal_close" href="#modal_window">Close</button>
		</div>
</div>


