<% page_title("Recipes") %>
<% page_description("The recipes of Sheila Hogarth.") %>

<% content_for :main_area do %>
	<p>Recipes uploaded so far are listed below</p>
	<ul>
		<% @recipes.each do |recipe| %>
		<li>
			<%= render recipe %>
		</li>
		<% end %>
	</ul>
<% end %>