<% page_title("Recipes") %>

<% content_for :main_area do %>
	<p>Recipes uploaded so far are listed below</p>
	<ul>
		<% @recipes.each do |recipe| %>
		<li>
			<%= render recipe %>
		</li>
		<% end %>
	</ul>
<% end %>