#carousel {
	article {
		float: left;
		margin: 0 5px;
		a {
			display: block;
		}
		p {
			background-color: $brand-color-2;
			color: #fff;
			padding: .5em;
			margin: 0;
			font-weight: 300;	
		}
	}
	article:first-child {
		//margin-left: 0;
	}
}
.carousel-container {
	position: relative;
	margin-bottom: 30px;
}
#prev, #next {
	position: absolute;
	top: 45%;
	z-index: 10;
	cursor: pointer;
}

#prev {
	left: 17px;
}
#next {
	right: 17px;
}