.fb-activity, .fb-activity, .fb-activity span, .fb-activity.fb_iframe_widget span iframe {
    width: 100% !important;
}
.addthis_toolbox {
	a {
		display: block;
		float: none !important;
	}
	.addthis_button_pinterest_pinit {
		padding-bottom: 6px;
	}
}

@include media-query(lap){
	.addthis_toolbox {
	a {
		//display: inline;
		float: left !important;
	}
	.addthis_button_pinterest_pinit {
		//padding-bottom: 6px;
	}
}

}