<footer class="site-footer main-area">
  <div class="wrapper">
      <div class="grid">
        <div class="grid__item two-thirds portable-one-whole">
          <h4 class="delta">About Nomelette</h4>
          <p>Esse cillum dolore eu fugiat nulla pariatur. Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia. Qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
        </div><!-- 
        --><div class="grid__item one-third portable-one-whole">
          <h4 class="delta">Get Involved!</h4>
          <p>Esse cillum dolore eu fugiat nulla pariatur. Cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia. Qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam. Accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
        </div><!-- 
        --><div class="grid__item one-whole">
          <p>&copy; <%= Time.now.year %> Mikey and <a href = "http://www.laurahogarth.com">Laura Hogarth</a></p>
        </div>
      </div>
  </div>
</footer>
