<footer class="site-footer main-area">
  <div class="wrapper">
      <div class="grid">
        <div class="grid__item two-thirds portable-one-whole">
          <h4 class="delta">About Nomelette</h4>
          <p>
            Nomelette is a compilation of recipes created by Sheila Hogarth, a renowned Cumbrian home-cook and cookery teacher.
            Sheilas recipes were enjoyed by people all over Cumbria and the UK, and are now collected here online for the whole world to enjoy.
          </p>
        </div><!-- 
        --><div class="grid__item one-third portable-one-whole">
          <h4 class="delta">Get Involved!</h4>
          <p>You can help my spreading the word about Nomelette through your social channels or by word of mouth. 
            If you would like to get more involved, get in touch through facebook and help us cook and photograph
            every recipe on the site!
          </p>
        </div><!-- 
        --><div class="grid__item one-whole">
          <p>&copy; <%= Time.now.year %> Mikey and <a href = "http://www.laurahogarth.com">Laura Hogarth</a></p>
        </div>
      </div>
  </div>
</footer>
