<% page_title("About") %>

<%= render :layout => "shared/page_header" do %>
	<h1>About</h1>	
<% end %>

	
<h2>What is this all about?</h2>
<p>
	All should be obvious from <a href = "http://www.cumberlandnews.co.uk/news/online-recipes-raise-money-in-sheila-s-memory-1.360541?referrerPath=news/obituaries">this news article</a>. To cut a long story short though, 
	for too long I have been talking about resurrecting an old project. Finally decided to get around
	to actually doing it.
</p>
<p>
	This is now officially our "current pet project"
</p>


<h2>Who's involved</h2>
<p>Mikey and Laura Hogarth on design, dev and cooking duties. There is *totally* scope for other people to get involved if they want to though. Ways in which people can help are;</p>
<ul>
	<li>When this thing goes up, we could use some help typing the recipes in</li>
	<li>When the recipes are in, we could use some help cooking them and taking photos etc.</li>
	<li>Code is totally <a href = "https://github.com/mikeyhogarth/Nomelette">open source</a>, so you could help with features etc. if you're a dev</li>
	<li>You could click that "like" button at the top...</li>
</ul>

<h2>When's the site going to be up</h2>
<p>I honestly have no idea at the moment</p>		

<h2>Haven't you already done this before!?</h2>
<p>Yes, but for various life reasons I couldn't afford the time to spend on it. I can now! I mean, hey, it's on the internet isn't it!</p>		
