<% page_title("About Nomelette") %>

<%= content_for :main_area do %>
	<h2>What is this site?</h2>
	<p>
		All should be obvious from <a href = "http://www.cumberlandnews.co.uk/news/online-recipes-raise-money-in-sheila-s-memory-1.360541?referrerPath=news/obituaries">this news article</a>. To cut a long story short though, 
		for too long we have been talking about resurrecting an old project. Finally decided to get around
		to actually doing it.
	</p>
	<p>
	 Years ago my grandmother, Sheila Hogarth, used to teach recipe classes in the Carlisle and Cumbria area. Her years of expertise in the kitchen saw her become the author of around a thousand recipes and adaptations covering many types of cullinary genre, from scrumptious starters to mouthwatering desserts.
	</p>
	<p>
	 In her Later years, Sheila compiled some of these recipes into books. She sold these books in order to raise money for the Eden Valley Hospice in Carlisle, who had cared for my grandfather in his final weeks. The Eden Valley Hopsice provides specialised palliative care for terminally ill patients and their families along with a wide range of vital supporting services, free of charge throughout North Cumbria. It also operates a Children's Hospice that cares for life-limited children and their families across Cumbria and the South of Scotland.
	</p>

	<p>
	Sadly, Sheila also passed away in 2000. In order to honour her memory, we have set up this site to allow the world, for the first time, to browse the recipes she created.
	</p>

	<h2>What kind of recipes are featured?</h2>
	<p>
		One thing that needs to be clear from the start - if you are into healthy eating then this site is probably not for you! That's not to say there's going to be nothing in here that would appeal, but you need to just keep in mind the context in which these recipes were written and the spirit in which this site is intended. These are old school family recipes - stotgy and heart warming. Many of them were written during the 70's, 80's and early 90's and use ingredients such as butter and cream fairly liberally!
	</p>
	<p>
		Why am I even mentioning this? Well, what we're trying to do here is to faithfully reproduce the recipes that Sheila wrote, exactly as she wrote them. Nomelette exists to inspire and delight, nothing more.
	</p>
	<p>
		You may also see certain comments throughout the site with a "(sic)" aside - we copied down the recipes exactly as written, so if Sheila had made a throwaway comment about a recipe being "a good idea for a millenium party" then that's what it'll say on the site, despite the fact that the millenium has been and gone.
	</p>

	<h2>Who's involved</h2>
	<p>Mikey and Laura Hogarth on design, dev and cooking duties. There is scope for other people to get involved if they want to though. Ways in which people can help are;</p>
	<ul>
		<li>Help typing up the recipes (they're all in old handrwitten scrolls and manuscripts at the moment)</li>
		<li>When the recipes are in, we could use some help cooking them and taking photos etc.</li>
		<li>Code is totally <a href = "https://github.com/mikeyhogarth/Nomelette">open source</a>, so you could help with features etc. if you're a dev.</li>
		<li>Share anything you think your friends would like and tell people about the site!</li>
	</ul>

	<h2>So this is a work in progress?</h2>
	<p>It'll officially be "open" when the front end is done, right now it's just the back end and some basic styles so we can start entering recipes and raising awareness.</p>

	<p>
	 In her Later years, Sheila compiled some of these recipes into books. She sold these books in order to raise money for the Eden Valley Hospice in Carlisle, who had cared for my grandfather in his final weeks. The Eden Valley Hopsice provides specialised palliative care for terminally ill patients and their families along with a wide range of vital supporting services, free of charge throughout North Cumbria. It also operates a Children's Hospice that cares for life-limited children and their families across Cumbria and the South of Scotland.
	</p>
<% end %>