<% page_title("About Nomelette") %>

<%= content_for :main_area do %>
	<h2>What is this site?</h2>
	<p>
	 Years ago my grandmother, Sheila Hogarth, used to teach recipe classes in the Carlisle and Cumbria area. Her years of expertise in the kitchen saw her become the author of around a thousand recipes and adaptations covering many types of cullinary genre, from delicious starters to mouthwatering desserts.
	</p>
	<p>
	 In her Later years, Sheila compiled some of these recipes into books. She sold these books in order to raise money for the Eden Valley Hospice in Carlisle, who had cared for my grandfather in his final weeks. 
	</p>

	<p>
    Sadly, Sheila also passed away in 2000. Her archive of recipes (both the compilations and hundreds of hand-written recipes) passed on to my parents and eventually to my wife and I.
    In order to honour her memory, and in some small way "do my nana proud", we have set up this site to allow the world to share in the recipes she created. Bon Apetit!
	</p>

	<h2>What kind of recipes are featured?</h2>
	<p>
		One thing that needs to be clear from the start - if you are into healthy eating then this site is probably not for you! That's not to say there's going to be nothing in here that would appeal, but you need to just keep in mind the context in which these recipes were written and the spirit in which this site is intended. These are old school family recipes - stotgy and heart warming. Many of them were written during the 70's, 80's and early 90's and use ingredients such as butter and cream fairly liberally!
	</p>
  <p>
  To put it bluntly - if you eat this kind of food every day you will probably die, so please don't!
  </p>
	<p>
		You may also see certain comments throughout the site with a "(sic)" aside - we copied down the recipes exactly as written, so if Sheila had made a throwaway comment about a recipe being "a good idea for a millenium party" then that's what it'll say on the site, despite the fact that the millenium has been and gone.
	</p>

	<h2>Who's involved</h2>
	<p>Mikey and Laura Hogarth on design, dev and cooking duties. There is scope for other people to get involved if they want to though. Ways in which people can help are;</p>
	<ul>
		<li>Help typing up the recipes (they're all in old handrwitten scrolls and manuscripts at the moment)</li>
		<li>When the recipes are in, we could use some help cooking them and taking photos etc.</li>
		<li>Code is totally <a href = "https://github.com/mikeyhogarth/Nomelette">open source</a>, so you could help with features etc. if you're a dev.</li>
		<li>Share anything you think your friends would like and tell people about the site!</li>
	</ul>
<% end %>
