<% page_title("Contact") %>

<%= render :layout => "shared/page_header" do %>
	<h1>About</h1>	
<% end %>

<div class = "row">
	<div class = "twelve columns">	

		<p>
			Site coming soon.
		</p>
		
	</ul>
</div>