<% page_title("The Recipes of Sheila Hogarth") %>

	<div class = "panel">
	<%= render :layout => "shared/page_header" do %>
		<h1>Nomelette<small> The recipes of Sheila Hogarth</small></h1>	
		<div class="fb-like" data-href="http://www.nomelette.co.uk" data-send="true" data-width="450" data-show-faces="true" data-font="tahoma"></div>
	<% end %>
	</div>

	<img src = "http://placekitten.com/g/1000/400" />			

	<h2>Latest Recipes</h2>
	<article>
	<% @latest_recipes.each do |recipe| %>

		<%= content_tag :h3, link_to(recipe.name, recipe) %>
		<%= content_tag :strong, " (Vegetarian)" if recipe.vegetarian? %>
		<%= recipe.description %>

	<% end %> 
	</article>
