<% page_title("The Recipes of Sheila Hogarth") %>

<div class = "panel">
<%= render :layout => "shared/page_header" do %>
	<h1>Nomelette<small> is coming...</small></h1>	
<% end %>
</div>



<div class = "row">
	<img src = "http://placekitten.com/g/1000/400" />			
	<div class = "twelve columns">
		
		<h2>What is this all about?</h2>
		<p>
			All should be obvious from <a href = "http://www.cumberlandnews.co.uk/news/online-recipes-raise-money-in-sheila-s-memory-1.360541?referrerPath=news/obituaries">this news article</a>. To cut a long story short though, 
			for too long I have been talking about ressurecting an old project. Finally decided to get around
			to actually doing it.
		</p>
		<p>
			This is now officially my "current project"
		</p>
		

		<h2>Who's involved</h2>
		<p>Mikey and Laura Hogarth on design, dev and cooking duties. There is *totally* scope for other people to get involved if they want to though.</p>

		<h2>When's the site going to be up</h2>
		<p>I honestly have no idea at the moment</p>		
	</div>
</div>