<% page_title("Books") %>



<%= content_for :main_area do %>
	<p>Sheila compiled many of her recipes into books, which are listed below.</p>
	<ol>
	<% @books.each do |book| %>
		<li><%= link_to book.title, book %> </li>
	<% end %>
	</ol>
<% end %>