<% page_title @tag %>
<% page_description("Recipes by Sheila Hogarth that use #{@tag}") %>

<% content_for :main_area do %>
	<% if @ingredient_description %>
		<blockquote>
			<%= @ingredient_description %>
			<cite>Source: <a href = "http://www.wikipedia.org">Wikipedia</a></cite>
		</blockquote>
	<% end %>

	<h2>Recipes that use <%= @tag %></h2>

	<ul class = "recipe-list">
		<%= render @recipes %>			
	</ul>
	
<% end %>