<h1>Admin Home</h1>
<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel lacus in nunc blandit suscipit. Cras elementum hendrerit dapibus. Quisque a ullamcorper nisl. Nulla facilisi. Vivamus lacus nibh, ornare ac gravida ac, porttitor accumsan lorem. Aenean ac massa et ipsum tempor gravida. Vestibulum orci augue, facilisis vitae commodo eu, adipiscing ac nunc. Donec condimentum magna urna. Suspendisse faucibus fringilla nisi eleifend ornare. Suspendisse interdum varius lectus quis ultricies. Suspendisse iaculis, est vel condimentum tempor, lectus libero gravida ipsum, in imperdiet odio lacus eu enim. Aliquam erat volutpat. Proin nisi nisl, rutrum quis blandit vitae, semper eu nulla. 
</p>
<ul>
	<li><%= link_to "Recipes", :admin_recipes %></li>
	<li><%= link_to "Users", :admin_users %></li>
</ul>